 
<h1 class="text-danger">Custom Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

 
<h2>Error Occured in Controller @ViewData["ControllerName"]</h2>
<h2>The Action that thrown exception is @ViewData["ActionName"]</h2>
<h2>The Error Message is @ViewData["ErrorMessage"]</h2>
<a asp-controller='@ViewData["ControllerName"]' asp-action='@ViewData["ActionName"]'>Go Back</a>
